header {
  .headerContainer {
    display: flex;
    align-items: center;
    max-width: 920px;
    margin: 2.5rem auto;
    padding: 1rem;

    img {
      width: 50px;
    }

    span {
      margin-left: 1rem;
      font-weight: 700;
    }
  }
}
