.rightside {
  flex: 1;
  display: flex;
}

.grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

@media (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
